/*tablets*/
@media(max-width: 835px) {

  /*geral*/ 
  .container {
    padding: 20px 0;
  }

  /*slider*/ 
    #mainSlider .carousel-inner,
    #mainSlider .carousel-item {
      height: auto;
    }

    #mainSlider .carousel-caption h2 {
      font-size: 28px;
    }

    #mainSlider .carousel-caption p {
      font-size: 18px;
      margin-bottom: 40px;
    }

    #mainSlider .carousel-caption {
      left: 10%;
      right: 10%;
    }

    /*about*/

    #about-area .row #about-img-container {
      order: 2;
    }

    /*data*/ 

    #data-area {
      padding-top: 20px;
    }

    .circle-box div {
      padding: 0 10px;
    }

    #data-area p {
      font-size: 16px;
    }

    /*team */

    #card-title {
      font-size: 14px;
    }

    .card-text {
      font-size: 12px;
    }

    /*apply*/ 

    #apply-area, #apply-area #company-img {
      height: auto;
    }

    /*news*/

    #news-area p {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    #email-input {
      width: 70%;
    }

    /*call-to-action*/

    #call-area {
      margin-top: 30px;
    }

    #call-area .container {
      padding: 30px;
    }

    #call-area p, #call-area #call-btn {
      font-size: 16px;
    }

}