/*gerais*/
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/*nav bar*/
header, .navbar {
    padding: 0 20px;
    background-color: #353d41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}

#navbar-links a {
    color: #fff;
    cursor: pointer;
}

#navbar-links a:hover {
    text-decoration: underline;
}

.navbar-expand-lg .navbar-nav .navbar-link {
    padding: 1rem .8rem;
}

/*slider*/

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: calc(100% - 75px);
} 

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    width: 100%;
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}

.main-btn {
    background-color: #65daf9;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color:#65daf9 ;
}

.carousel-indicators .active {
    background-color: #65daf9;
}

/*about*/

#about-area {
    background-color: #f9f9f9;
}

.main-title {
    position: relative;
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    list-style-type: none;
    line-height: 30px;
}

#about-list li i {
    color: #65daf9;
    margin-right: 15px;
}

/*services*/

.service-box {
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 30px;
    margin: 20px;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: #65daf9;
}

/*data*/

#data-area {
    background: url('../img/cidadeparallax.png') center center no-repeat fixed;
    background-size: cover;
}

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/*team*/

.card-body {
    text-align: center;
}

/*work*/

#apply-area {
    height: calc(100vh - 70px);
    background: url('../img/pattern.png') center center no-repeat fixed;
    background-size: cover;
}

#apply-area .container-fluid, .apply-area .row {
    height: 100%;
} 

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}

#company-img {
    height: calc(100vh - 70px);
    background-image: url('../img/empresa.jpg');
    background-size: cover;
}

#pattern-img h4, #pattern-img p {
    color: #fff;
}

#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img p {
    margin-bottom: 20px;
}

#apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin: 30px auto 3% auto;
    background-color: transparent;
    border-color: #fff;
}

#apply-btn:hover {
    border-color: #65daf9;
    background-color: #65daf9;
}

/*portfolio*/

.project-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#portfolio-area .filter-btn {
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover {
    color: #fff;
    background-color: #65daf9;
    border-color: #65daf9;
}

/*newsletter*/

#news-area {
    text-align: center;
    background-color: #f9f9f9;
}

#news-area p {
    font-size: 16px;
    margin-bottom: 40px;
}

#email-input {
    border-radius: 20px 0 0 20px;
    border: 1px solid #65daf9;
    display: inline;
    box-sizing: border-box;
    width: calc(35% - 150px);
    height: 40px;
}

#news-btn {
    border-radius: 0 20px 20px 0;
    border: 1px solid #65daf9;
    background-color: #65daf9;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    width: 160px;
    position: relative;
    top: -1px;
    left: -5px;
    padding: 0 30px;
    transition: .5s;
}

/*call to action*/

#call-area {
    background-color: #65daf9;
    text-transform: uppercase;
}

#call-area .container {
    margin: 10px 40px;
}

#call-area .row {
    display: block;
    text-align: center;
}

#call-area p {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    width: auto;
    height: 60px;
    line-height: 60px;
    margin-bottom: 0;
    display: inline;
}

#call-area #call-btn {
    background-color: #fff;
    color: #65daf9;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    width: auto;
    letter-spacing: 2px;
}

/*footer*/

#contact-area {
    text-align: center;
}

.content-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 3px solid #65daf9;
}

.contact-box i {
    color: #444;
    border: 1px solid #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

#contact-area #contact-form, #contact-area #msg-box {
    margin-top: 50px;
}

#contact-area .contact-title {
    font-weight: bold;
    color: #65daf9;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form .main-btn {
    width: 120p;
    height: 50px;
}

#contact-form .main-btn:hover {
    color: #65daf9;
}

#msg-box p {
    font-size: 22px;
}

/*copy*/

#copy-area {
    background-color: #444;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
    color: #fff
}

#copy-area .container p span {
    font-weight: bold;
}

#copy-area .container p span a {
    color: #fff;
    text-decoration: none;
}

#copy-area .container p span a:hover {
    text-decoration: underline;
    color: #65daf9;
}

